:root {
  --prime: #19334d;
  --second: #e6ccb2;
  --defer: #cd9965;
  --sum: #32669a;
}

body {
  margin: 0;
  background-color: var(--defer);
  overflow-x: hidden;
}

a {
  color: var(--prime);
  text-decoration: none;
  background-color: transparent;
  transition: 0.7s;
}

a:hover {
  color: var(--sum);
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

#content {
  bottom: 20vh;
  margin: 15vh 0;
  width: 100vw;
  height: 100vh;
  padding: 15vh 7.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
