body {
  margin: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

header {
  height: 20vh;
  width: 100vw;
}

#links {
  bottom: 20vh;
  margin: 15vh 0;
  width: 100vw;
  height: 100vh;
  padding: 15vh 7.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#content {
  bottom: 20vh;
  margin: 15vh 0;
  width: 100vw;
  height: 100vh;
  padding: 15vh 7.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#credencials {
  padding: 2vh 10vw 0;
  width: 100vw;
  height: 22vh;
  color: white;
  text-align: center;
  background-color: #19334d;
}
