{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div id="links">
  <div class="link">
    <a href="{% url 'alcohol' %}">
      <h3>Алкоголизм</h3>
      <img src="{% static 'media/drinking.jpg' %}">
      <span>Алкоголи́зм — хроническое психическое прогредиентное заболевание, характеризующееся пристрастием к алкоголю, с психической зависимостью от него.</span>
    </a>
  </div>
  <div class="link">
    <a href="{% url 'smoking' %}">
      <h3>Курение</h3>
      <img src="{% static 'media/smoking.jpg' %}">
      <span>Куре́ние — вдыхание дыма препаратов тлеющих в потоке воздуха, с целью насыщения организма содержащимися в них активными веществами.</span>
    </a>
  </div>
  <div class="link">
    <a href="{% url 'drugs' %}">
      <h3>Наркомания</h3>
      <img src="{% static 'media/doing_drugs.jpg' %}">
      <span>Наркома́ния — состояние, характеризующееся патологическим влечением к наркотическим веществам, сопровождающееся психическими расстройствами.</span>
    </a>
  </div>
</div>
<div id="health">
  <div id="health_text">
    <span id="health_title">Я выбираю Здоровый образ жизни</span>
    <br>
    <br>
    <p>Здорóвый óбраз жи́зни (ЗОЖ) — образ жизни человека, помогающий сохранить здоровье и снизить риск неинфекционных заболеваний (НИЗ), нормализовать режим сна, путём контроля над поведенческими факторами.</p>
    <p>Здоровый образ жизни подразумевает сильную выдержку и характер. Отказ от табака и употребления алкоголя, рациональное питание, физическую активность (физические упражнения, спорт и тому подобное), укрепление психического здоровья и другие меры по укреплению здоровья.</p>
    <p>Принципы образа жизни обычно закладываются в молодом возрасте, поэтому для формирования здорового образа жизни важным является формирование здорового образа в этом возрасте — привычки, сформировавшиеся в молодости, зачастую сохраняются и во взрослой жизни.</p>
  </div>
  <div id="health_slideshow">
    <img src="{% static 'media/health1.jpg' %}" class="health-image" style="width: 30vw">
    <img src="{% static 'media/health2.jpg' %}" class="health-image">
    <img src="{% static 'media/health3.jpg' %}" class="health-image">
    <img src="{% static 'media/health1.jpg' %}" class="health-image">
  </div>
</div>
<div id="help">
  <span id="appeal">Если вы или ваши близкие страдаете от перечисленных зависимостей,<br> то заполните и отошлите форму нашим сотрудникам!</span>
  <form id="form">
    <div id="message">
      <ul>
        <li>
          <label for="person">Как к вам обращаться:</label><br>
          <input type="text" name="name" class="form-control" required>
        </li>
        <li>
          <label for="person">Ваша эл. почта:</label><br>
          <input type="text" name="phone" class="form-control" required>
        </li>
        <li>
          <label for="person">Опишите вашу ситуацию:</label><br>
          <textarea style="height: 15vh" type="text" name="problem" class="form-control" required></textarea>
        </li>
      </ul>
    </div>
    <div id="info">
      <ul>
        <li>
          <label for="person">Зависимость у вас?</label><br>
          <label for="person">Да</label>
          <input type="radio" name="person" value="Да" required>
          <span>&nbsp&nbsp&nbsp</span>
          <label for="person">У родственника</label>
          <input type="radio" name="person" value="У родственника" required>
          <span>&nbsp&nbsp&nbsp</span>
          <label for="person">У друга/подруги</label>
          <input type="radio" name="person" value="У друга/подруги" required>
        </li>
        <li>
          <label for="age">Вам есть 18?</label><br>
          <label for="age">Да</label>
          <input type="radio" name="age" value="Да" required>
          <span>&nbsp&nbsp&nbsp</span>
          <label for="age">Нет</label>
          <input type="radio" name="age" value="Нет" required>
        </li>
        <li>
          <label for="time">Сколько лет наблюдается зависимость?</label><br>
          <input type="range" name="time" min="1" max="99" onchange="adjustTime(this.value)" required>
          <span>&nbsp&nbsp&nbsp</span>
          <label for="time" id="time">1 месяц</label>
        </li>
      </ul>
      <button id="send_button" class="btn">Отправить</button>
    </div>
  </form>
  </div>
</div>
{% endblock %}
