{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/links.css' %}">
    <link rel="stylesheet" href="{% static 'css/credencials.css' %}">
    <title>{{ title }}</title>
  </head>
  <body>
  <body onLoad="display(0)">
    <header>
      <div id="blob1">
        <svg viewBox="0 0 800 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%">
          <path fill="#33cc00" d="M425,313Q401,376,346.5,432Q292,488,209,477Q126,466,76.5,398.5Q27,331,33,252Q39,173,94.5,125Q150,77,220,49.5Q290,22,357,63Q424,104,436.5,177Q449,250,425,313Z"></path>
        </svg>
      </div>
      <div id="blob2">
        <svg viewBox="0 0 800 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%">
          <path fill="#FF0066" d="M427.5,290.5Q377,331,347.5,365Q318,399,268,434Q218,469,167,437Q116,405,77.5,358.5Q39,312,62.5,257Q86,202,94.5,141Q103,80,161.5,60.5Q220,41,273,62.5Q326,84,378,109Q430,134,454,192Q478,250,427.5,290.5Z"></path>
        </svg>
      </div>
      <div id="svg_header_wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220">
          <path fill="#0099ff" d="M0,160L34.3,170.7C68.6,181,137,203,206,202.7C274.3,203,343,181,411,170.7C480,160,549,160,617,176C685.7,192,754,224,823,202.7C891.4,181,960,107,1029,90.7C1097.1,75,1166,117,1234,133.3C1302.9,149,1371,139,1406,133.3L1440,128L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path>
        </svg>
      </div>
      <span id="title">Вредные привычки</span>
      <span id="page"></span>
      <span id="quote"><i>"Кто не курит и не пьет, тот здоровым и помрет"</i></span>
    </header>
    {% block content %}
    {% endblock %}
    <div id="credencials">
      <span>Спасите жизни - расскажите о нас!<span>
      <br>
      <span class="fa fa-facebook"></span>
      <span href="#" class="fa fa-twitter"></span>
      <span href="#" class="fa fa-youtube"></span>
      <span href="#" class="fa fa-instagram"></span>
      <span href="#" class="fa fa-skype"></span>
      <br>
      <br>
      <h6>Copyright 2022 by "IPLT Alexander Puskin". All Rights Reserved.</h6>
    </div>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  </body>
</html>
